
@using Entities
@{
    ViewBag.Title = "MusteriListesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
    FaturaYonetimiDbModel _entity = new FaturaYonetimiDbModel();
    var list = _entity.MusteriProfil.ToList();
}

<body class="skin-default-dark fixed-layout">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Müşteri Listesi</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div id="example1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr role="row">
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Müşteri Kodu</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Ad</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Soyad</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Adres</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Telefom</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Alacak Miktarı</th>
                                    <th rowspan="1" colspan="1" aria-sort="ascending" style="width: 144px;">Borç Miktarı</th>

                            </thead>
                            <tbody>
                                @if (list == null)
                                {
                                    <tr>Sistemde Kayıtlı Ürün Bulunmamaktadır..</tr>
                                }
                                else
                                {
                                    foreach (var item in list)
                                    {
                                        <tr>



                                            <td>@item.ID</td>
                                            <td>@item.Ad</td>
                                            <td>@item.Soyad</td>
                                            <td>@item.Adres</td>
                                            <td>@item.Telefon</td>
                                            <td>@item.Alacak</td>
                                            <td>@item.Borc</td>


                                            <td>


                                                <button type="button" class="btn btn-primary" onclick="return Delete(@item.ID);" id="sil">Sil</button>


                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>


                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        function Delete(ID) {
            swal({
                title: "Emin misin?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "SİL",
                confirmButtonColor: "#ec6c62"
            },
                function () {
                    $.ajax({
                        url: "/MusteriProfil/Delete/" + ID,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",

                    })
                        .done(function (data) {
                            if (data == 1) {

                                sweetAlert
                                    ({
                                        title: "Silindi!",
                                        text: "Müşteri başarıyla silindi.",
                                        type: "success"
                                    },
                                    function () {
                                        window.location.href = '/MusteriProfil/MusteriListesi';
                                    });

                            }
                            else {
                                swal("Oops", "Müşteri Silinemez. Adına Kayıtlı Fatura Mevcut", "error");
                            }
                        })
                        .error(function (data) {
                            swal("Oops", "We couldn't connect to the server!", "error");
                        });
                });

        }

    </script>
</body>
